<h1>TODO</h1>

<% flash.each do |message_type, message| %>
  <% if message_type == 'success' %>
  <p style="color:green"><%= message %></p>
  <% else %>
    <p style="color:red"><%= message %></p>
  <% end %>
<% end %>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>content</th>
    <th>削除</th>
  </tr>
  </thead>
  <tbody>
  <% @todo_items.each do |todoItem| %>
    <tr>
      <td><%= todoItem.id %></td>
      <td><%= todoItem.content %></td>
      <%# /todo_items/{id}?user_id=1 %>
      <td><%= button_to '削除',{:controller => 'todo_items', :action => 'destroy', :id=>todoItem.id, :user_id => @user_id }, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>作成</h2>
<%= form_tag({:controller => 'todo_items', :action => 'create', :user_id => @user_id }, {:method => :post}) do %>
  <%= text_area_tag :content %>
  <%= submit_tag "送信" %>        <!-- 送信ボタン -->
<% end %>
